#By changing the setting below to TRUE you are indicating your agreement to our EULA (https://account.mojang.com/documents/minecraft_eula).
#and also agreeing that tacos are tasty.
#Sun Apr 28 20:06:45 UTC 2019
eula={{ papermc_agree_to_eula | default('true') }}

